<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Excite</display-name>
  
  
  <servlet>
   <servlet-name>Excite</servlet-name>
   <servlet-class>excite.holiday.simulation.atm.controller.ATMServiceRequestHandle</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>Excite</servlet-name>
   <url-pattern>/atm</url-pattern>
</servlet-mapping>
  
</web-app>